extends layout 

block content
    h1= title
    a(href='/') Home
    br
    hr
    h2 #{name}
    p Address: #{address}
    p Favorite color: #{color}
    p Date of birth: #{dob}
    p Phone number: #{phone}
    p Email address: #{email}
    hr